<section class="category aeffects" data-category="aeffects">
    {{!-- EVENTS --}}
    {{> "systems/mage-fr/templates/actor/parts/cat-banner.hbs" category="aeffects" lock = locks.aeffects addButton = true}}
    <div class="grid one-col">
        {{#each effects as |effect key|}}
        <div class="trait aeffect" data-path="aeffects" data-item-id="{{effect._id}}">
            <img class="trait-img" src="{{effect.icon}}"/>
            <label class="trait-label">
                {{effect.label}}
            </label>
            <div class="ligne"></div>
            <div class="edit-bar" data-locked="{{../locks.aeffects}}">
                <a class="mini-button" data-update-path="disabled" data-action="check" title="{{localize 'M20E.hints.aeToggleDisabled'}}" checked="{{m20e-not effect.disabled}}"><i class="fas fa-check"></i></a>
                <a class="mini-button" data-action="edit"><i class="fas fa-pencil-alt"></i></a>
                <a class="mini-button" data-action="remove"><i class="fas fa-trash"></i></a>
            </div>
            <div class="bullet-display" data-locked="{{../locks.aeffects}}">
                {{#if effect.disabled}}
                {{localize "M20E.labels.aeDisabled"}}
                {{else}}
                {{localize "M20E.labels.aeEnabled"}}
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</section>