<section class="category description" data-category="bio">
  {{!-- DESCRIPTION --}}
  {{> "systems/mage-fr/templates/actor/parts/cat-banner.hbs" category="description" lock = locks.description}}
  <div class="grid two-col">
      {{#each data.bio as |bio key|}}
          {{#if (eq bio.displayValue "ligne-sep")}}
          <div class="trait description" style="height:16px;">
              <div class="ligne"></div>
          </div>
          {{else}}
          <div class="trait description" data-path="bio.{{key}}" data-link-id="{{bio.link.id}}"> 
              <label class="trait-label" title="">{{{m20e-locadigm ../paraData "bio." key}}}</label>
              <label class="colon">:</label>
              <div class="lock-wrapper" data-locked="{{../locks.description}}">
                  {{#if bio.link}}
                  <input class="link-drop" name="data.bio.{{key}}.displayValue" type="text" value="{{bio.displayValue}}" data-dtype="String" {{m20e-disabled ../locks.description}} {{#if ../locks.description}}title="{{localize 'M20E.hints.unlockToEdit'}}"{{else}}title="{{localize 'M20E.hints.canDropJE'}}"{{/if}}/>
                  <a class="entity-link bio-link" data-entity="{{bio.link.type}}" data-pack="{{bio.link.pack}}" data-id="{{bio.link.id}}" title="{{localize "M20E.hints.openJE"}}">
                    <i class="fas fa-info-circle"></i>
                  </a>
                  {{else}}
                  <input title="{{localize 'M20E.hints.unlockToEdit'}}" name="data.bio.{{key}}.displayValue" type="text" value="{{bio.displayValue}}" data-dtype="String" {{m20e-disabled ../locks.description}}/>
                  {{/if}}
              </div>
          </div>
          {{/if}}
      {{/each}}
  </div>
  <div class="trait description" style="height:16px;">
      <div class="ligne"></div>
  </div>
  {{!-- todo: add label for that or not ?--}}
<textarea name="data.misc.description" title="{{localize 'M20E.hints.unlockToEdit'}}" placeholder="{{localize 'M20E.placeholders.appearance'}}" {{#if locks.description}}readonly{{/if}}>{{data.misc.description}}</textarea>
</section>