<header class="sheet-header">
    <div class="img-colunm">
       <img src="{{actor.data.img}}" data-edit="img" title="{{localize "M20E.hints.imgClick"}}" alt="{{actor.data.name}} - Image"/>
    </div>
    <div class="header-column">
        <div class="header-row charname">
            <div class="name-wrapper">
              <input class = "name" name="name" type="text" value="{{actor.data.name}}" data-dtype="String"/>
              <a class="entity-link personnal-je" data-entity="{{data.link.type}}" data-pack="{{data.link.pack}}" data-id="{{data.link.id}}" title="{{localize "M20E.hints.openPersonalJE"}}"><i class="fas fa-info-circle"></i></a>
            </div>
            <div class="dice-button macro-ready" data-action = "roll-traits" title="{{localize "M20E.hints.diceButton"}}"></div>
        </div>
        <div class="header-row">
            <div class="resource-panel health" data-resource="health">
                <div class="boxes">
                    {{#each resources.health as |rez index|}}
                        <div class="box" title="{{rez.title}}" data-clickable="{{../editable}}" data-index="{{index}}" data-state="{{rez.state}}"></div>
                    {{/each}}
                </div>
                <div>
                    <label class="resource-context" data-resource="health">{{data.resources.health.status}}</label>
                    {{#unless (eq data.resources.health.malus 0)}}
                        <label>{{m20e-sign data.resources.health.malus "-"}}D</label>
                    {{/unless}}
                </div>
            </div>
            <div class="resource-panel category willpower" style="margin: 0 0 0 0;" data-category="willpower" data-resource="willpower">
                <div class="boxes">
                    {{#each resources.willpower as |rez index|}}
                        <div class="box" title="{{rez.title}}" data-clickable="{{../editable}}" data-index="{{index}}" data-state="{{rez.state}}"></div>
                    {{/each}}
                </div>
                <div class="trait willpower" style="margin-left:4px;" data-path="willpower" data-active= "false">
                    <a class="trait-label resource-context" data-resource="willpower">
                        {{localize "M20E.willpower"}}
                    </a>
                </div>
            </div>
        </div>
        <div class="header-row">
            <div class="resource-panel magepower" data-resource="magepower">
                <div class="boxes" style="justify-content: space-between;">
                    {{#each resources.magepower as |rez index|}}
                    <div class="box" title= "{{rez.title}}" data-clickable= "{{../canSeeParadox}}" data-index="{{index}}" data-state="{{rez.state}}"></div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</header>