<header class="sheet-header">
    <div class="img-colunm">
       <img src="{{actor.img}}" data-edit="img" title="{{localize "M20E.hints.imgClick"}}" alt="{{actor.name}} - Image"/>
    </div>
    <div class="header-column">
        <div class="header-row charname">
            <div class="name-wrapper">
              <input class = "name" name="name" type="text" value="{{actor.name}}" data-dtype="String"/>
              <a class="entity-link personnal-je" data-entity="{{data.link.type}}" data-pack="{{data.link.pack}}" data-id="{{data.link.id}}" title="{{localize "M20E.hints.openJE"}}"><i class="fas fa-info-circle"></i></a>
            </div>
            <div class="dice-button" data-action = "dice-button"></div>
        </div>
        <div class="header-row">
            <div class="resource-panel health" data-resource="health">
                <div class="boxes">
                    {{#forLoop data.health.max}}
                        <div class="box" data-clickable="{{../editable}}" data-index="{{this}}" data-state="{{res ../data.health this}}"></div>
                    {{/forLoop}}
                </div>
                <div>
                    <label class="resource-context" data-resource="health">{{data.health.status}}</label>
                    {{#if (ne data.health.malus 0)}}
                        <label>{{sign data.health.malus "-"}}D</label>
                    {{/if}}
                </div>
            </div>
            <div class="resource-panel category willpower" style="margin: 0 0 0 0;" data-category="willpower" data-resource="willpower">
                <div class="boxes">
                    {{#forLoop data.willpower.max}}
                        <div class="box" data-clickable="{{../editable}}" data-index="{{this}}" data-state="{{res ../data.willpower this}}"></div>
                    {{/forLoop}}
                </div>
                <div class="trait willpower" style="margin-left:4px;" data-active= "false">
                    <a class="trait-label resource-context" data-resource="willpower">
                        {{localize "M20E.willpower"}}
                    </a>
                    <input class="hidden-field" name="data.willpower.max" type="text" value="{{data.willpower.max}}" data-dtype="Number" min="0" max="10"/>
                </div>
            </div>
        </div>
        <div class="header-row">
            <div class="resource-panel magepower" data-resource="magepower">
                <div class="boxes" style="justify-content: space-between;">
                    {{#forLoop 20}}
                    {{magepowerBox ../data.magepower this}}
                    {{/forLoop}}
                </div>
            </div>
        </div>
    </div>
</header>