<section class="category rotes" data-category="rotes">
    {{!-- ROTES --}}
    {{> "systems/mage-fr/templates/actor/parts/cat-banner.hbs" category="rotes" lock = locks.rotes addButton = true}}
    <div class="grid one-col">
        {{#each items.rotes as |rote key|}}
        <div class="trait rote" data-item-id="{{rote._id}}">
            <div class="item-img" style="background-image: url({{rote.img}}), radial-gradient(rgba(130,81,20,0.4), rgba(0,0,0,0));">
              {{#if rote.data.isActuallyRollable}}
              <div class="mini-button trait-dice macro-ready" data-action="roll-item" data-item-id="{{rote._id}}"></div>
              {{/if}}
            </div>
            <div class="vertical-wrapper">
                <div class="horizontal-wrapper">
                    <label class="trait-label" data-item-id="{{rote._id}}">
                        {{rote.name}}
                    </label>
                    <div class="ligne"></div>
                    <div class="edit-bar" data-locked="{{../locks.rotes}}">
                        <a class="mini-button" data-action="edit"><i class="fas fa-pencil-alt"></i></a>
                        <a class="mini-button" data-action="remove"><i class="fas fa-trash"></i></a>
                    </div>
                    <div class="bullet-display" data-locked="{{../locks.rotes}}">
                        {{rote.data.flavor}}
                    </div>
                </div>
                <div class="one-liner-desc" data-expanded="false">
                  <a class="mini-button" data-action="expand">
                    <i class="fas fa-ellipsis-h"></i>
                  </a>
                  {{{rote.data.displayDescription}}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>