<section class="category arete" data-category="arete">
  {{!-- arete --}}
  <div class="category-banner">
      <label>{{m20e-locadigm paraData "categories." "arete"}}</label>
  </div>
  <div class="trait arete linkable" data-path="arete" data-active= "false">
    <a class="stat-label">
      {{m20e-locadigm paraData "magick.arete"}}
    </a>
    <div class="ligne"></div>
    <div class="edit-bar" data-locked="{{locks.spheres}}">
      <input name="data.magick.arete.value" type="text" value="{{data.magick.arete.value}}" data-dtype="Number" min="0" max="10"/>
    </div>
    <div class="bullet-display" data-locked="{{locks.spheres}}">                        
      {{#m20e-forLoop 10}}
      <span class="bullet" data-index="{{this}}" data-state="{{m20e-bulletState ../data.magick.arete.value this}}"></span>
      {{/m20e-forLoop}}
    </div>
  </div>
</section>
<section class="category spheres" data-category="spheres">
  {{!-- spheres --}}
  {{> "systems/mage-fr/templates/actor/parts/cat-banner.hbs" category="spheres" lock = locks.spheres}}
  <div class="grid three-col">
    {{#each data.spheres as |sphere key|}}
    <div class="trait sphere linkable" data-path="spheres.{{key}}" data-active= "false">
      <a class="stat-label tooltip">
        {{m20e-locadigm ../paraData "spheres." key}}
        {{#if sphere.specialisation}}
        <span class="righttooltiptext">{{localize "M20E.labels.spe"}} : {{sphere.specialisation}}</span>
        {{/if}}
      </a>
      <div class="ligne"></div>
      <div class="edit-bar" data-locked="{{../locks.spheres}}">
        <input name="data.spheres.{{key}}.value" type="text" value="{{sphere.value}}" data-dtype="Number" min="0" max="10"/>
        <a class="mini-button" data-action="edit" title="{{localize 'M20E.hints.edit'}}"><i class="fas fa-pencil-alt"></i></a> 
      </div>
      <div class="bullet-display" data-locked="{{../locks.spheres}}">
          {{{m20e-bulletDisplay sphere 5}}}
      </div>
    </div>
    {{/each}}
  </div>
</section>