<form class="{{cssClass}}" autocomplete="off" >
  {{#if paraData}}
  <div class="paradigm-img" style="background-image: url('{{paraData.sheetLogo}}');"></div>
  {{/if}}
  <div style="position:relative;">
  {{> "systems/mage-fr/templates/actor/parts/header-cat.hbs"}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a data-tab="traits"><label>{{localize "M20E.navtabs.traits"}}</label></a>
    <a data-tab="bio"><label>{{localize "M20E.navtabs.bio"}}</label></a>
    <a data-tab="stuff"><label>{{localize "M20E.navtabs.stuff"}}</label></a>
    <a data-tab="extra"><label>{{localize "M20E.navtabs.extra"}}</label></a>
  </nav>

  <section class="sheet-body">

    <section class="tab" data-group="primary" data-tab="traits">
      {{> "systems/mage-fr/templates/actor/parts/attributes-cat.hbs"}}
      {{> "systems/mage-fr/templates/actor/parts/abilities-cat.hbs"}}
    </section>

    <section class="tab" data-group="primary" data-tab="bio">
{{> "systems/mage-fr/templates/actor/parts/bio-cat.hbs"}}
      {{> "systems/mage-fr/templates/actor/parts/bg-cat.hbs"}}
      {{> "systems/mage-fr/templates/actor/parts/mf-cat.hbs"}}
    </section>
    
    <section class="tab" data-group="primary" data-tab="stuff">
      {{> "systems/mage-fr/templates/actor/parts/gear-cat.hbs"}}
    </section>

    <section class="tab" data-group="primary" data-tab="extra">
      {{> "systems/mage-fr/templates/actor/parts/events-cat.hbs"}}
      {{#if isGM)}}
      {{> "systems/mage-fr/templates/actor/parts/a-effects-cat.hbs"}}
      {{/if}}
    </section>
    
  </section>
</div>
</form>

