<form class="{{cssClass}}" autocomplete="off" >
  {{#if paraData}}
  <div class="paradigm-img" style="background-image: url('{{paraData.sheetLogo}}');"></div>
  {{/if}}
  <div style="position:relative;">
  {{> "systems/mage-fr/templates/actor/parts/header-cat.hbs"}}

  <nav class="sheet-tabs tabs" data-group="primary">
    <a data-tab="stats"><label>{{localize "M20E.navtabs.stats"}}</label></a>
    <a data-tab="magye"><label>{{localize "M20E.navtabs.magye"}}</label></a>
    <a data-tab="bio"><label>{{localize "M20E.navtabs.bio"}}</label></a>
    <a data-tab="stuff"><label>{{localize "M20E.navtabs.stuff"}}</label></a>
  </nav>

  <section class="sheet-body">

    <section class="tab" data-group="primary" data-tab="stats">
      {{> "systems/mage-fr/templates/actor/parts/attributes-cat.hbs"}}
    </section>

    <section class="tab" data-group="primary" data-tab="magye"></section>

    <section class="tab" data-group="primary" data-tab="bio"></section>

    <section class="tab" data-group="primary" data-tab="stuff"></section>
  </section>
</div>
</form>

