<section class="category attributes" data-category="attributes">
  {{!-- Attributes --}}
  {{> "systems/mage-fr/templates/actor/cat-banner.hbs" category="attributes" lock = data.locks.attributes}}
  <div class="grid three-col">
    <label class="column-header">{{localize "M20E.attributes.physical"}}</label>
    <label class="column-header">{{localize "M20E.attributes.social"}}</label>
    <label class="column-header">{{localize "M20E.attributes.mental"}}</label>                
    {{#each data.attributes as |attribute key|}}
    <div class="stat attribute" data-key="{{key}}" data-active= "false">
      <a class="stat-label tooltip">
        {{locadigm ../paraData "attributes." key}}
        {{#if attribute.specialisation}}
        <span class="righttooltiptext">{{localize "MAGE.labels.spe"}} : {{attribute.specialisation}}</span>
        {{/if}}
      </a>
      <div class="ligne"></div>
      <div class="edit-bar" data-locked="{{../data.locks.attributes}}">
        <input name="data.attributes.{{key}}.value" type="text" value="{{attribute.value}}" data-dtype="Number" data-min="0" data-max="10"/>
        <a class="mini-button" data-action="edit" title="{{localize 'MAGE.hints.edit'}}"><i class="fas fa-pencil-alt"></i></a> 
      </div>
      <div class="bullet-display" data-locked="{{../data.locks.attributes}}">                        
        {{#forLoop 5}}
        <span class="bullet" data-index="{{this}}" data-active="{{gt attribute.value this}}"></span>
        {{/forLoop}}
      </div>
    </div>
    {{/each}}
  </div>
</section>