<section class="m20e card">
    <header class="card-header">
    </header>
    <header class="card-tooltip">
      {{#if traitData.data.systemDescription}}
        {{#if traitData.data.displayDescription}}
        <div class="display-desc-button" data-action="display-desc">
          <span>{{localize "M20E.labels.displayDesc"}} <i class="fas fa-chevron-down"></i></span>
        </div>
        <div class="tooltip-part item-ddesc hidden-field">
          {{{traitData.data.displayDescription}}}
        </div>
        {{/if}}
      <div class="tooltip-part">
        {{{traitData.data.systemDescription}}}
      </div>
      {{else}}
        {{#if traitData.data.displayDescription}}
        <div class="tooltip-part item-ddesc">
          {{{traitData.data.displayDescription}}}
        </div>
        {{/if}}
      {{/if}}
    </header>
    {{#if (eq traitData.type 'rote')}}
    <div class="card-buttons">
      <button class="throw" data-action="throw-rote" data-item-id="{{traitData.itemId}}" data-actor-id="{{traitData.actorId}}">
        <span>{{localize "M20E.labels.throw"}} <i class="fas fa-dice"></i></span>
      </button>
    </div>
    {{/if}}
    <header class="card-footer">
        {{#if traitData.data.subType}}
        <span class="item-type">{{localize (m20e-concat 'M20E.subType.' traitData.data.subType)}}</span>
        {{else}}
        <span class="item-type">{{localize (m20e-concat 'M20E.category.' category)}}</span>
        {{/if}}
        {{#if traitData.img}}
        <img class="item-img" src="{{traitData.img}}"/>
        {{/if}}
    </header>
</section>