<section class="m20e">
<div class="trait chat-flavor">
  <div class="trait-label">
    {{#if traitData.data.displayName}}
      {{traitData.data.displayName}}
    {{else}}
      {{traitData.name}}
    {{/if}}
  </div>
  <div class="ligne"></div>
  {{#if (m20e-in traitData.type 'event' 'rote')}}
  {{else}}
    {{#if (eq traitData.type 'meritflaw')}}
      <div class="trait-label">
      {{#if (eq traitData.data.subType "flaw")}}
          {{m20e-sign traitData.data.value "-"}}
      {{else}}
          {{m20e-sign traitData.data.value}}
      {{/if}}
      </div>
    {{else}}
      <div class="bullet-display" data-value="{{traitData.data.value}}">
        {{#m20e-forLoop 5}}
        <span class="bullet" data-index="{{this}}" data-state="{{m20e-bulletState ../traitData.data.value this}}"></span>
        {{/m20e-forLoop}}
      </div>
    {{/if}}
  {{/if}}

</div>
{{#if traitData.data.specialisation}}
<div class="trait chat-flavor">
  <div class="trait-label">
    &nbsp;&nbsp;⮱ {{localize "M20E.labels.spe"}} : {{traitData.data.specialisation}}
  </div>
</div>
{{/if}}
{{#if traitData.data.magyeEffects}}
  {{#each traitData.data.magyeEffects as |effect index|}}
    <div class="trait chat-flavor">
      <label class="trait-label">
        &nbsp;&nbsp;⮱ {{localize (m20e-concat "M20E.spheres." effect.key)}}
      </label>
      <div class="ligne"></div>
      <div class="bullet-display">
        {{#m20e-forLoop 5}}
        <span class="bullet" data-index="{{this}}" data-state="{{m20e-bulletState effect.value this}}"></span>
        {{/m20e-forLoop}}
      </div>
    </div>
  {{/each}}
{{/if}}
</section>