<div class="dice-tooltip">
    <section class="tooltip-part">
        <div class="dice">
            {{#if part.options.isWillpowered}}
            <header class="willpower-success">
                <span >{{localize "M20E.throwresult.isWillpowered"}}</span>
            </header>
            {{/if}}
            {{#if part.options.isWillpowered}}
            <header class="willpower-success">
                <span >{{localize "M20E.throwresult.isWillpowered"}}</span>
            </header>
            {{/if}}
            <header class="part-header flexrow">
                <div class="tooltip-infos">
                    <span class="tooltip-info">
                        {{localize "M20E.labels.pool"}} : {{part.data.dpTotal}}
                    </span>
                    {{#if part.data.dpTooltips}}
                    <span class="bottomtooltiptext">
                      {{#each part.data.dpTooltips as |tt key|}}
                      <label class="{{tt.class}}"><b>{{tt.name}}: {{tt.value}}</b></label><br>
                      {{/each}}
                    </span>
                    {{/if}}
                </div>
                {{#if part.data.diffTotal}}
                <div class="tooltip-infos">
                    <span class="tooltip-info">
                      {{localize "M20E.labels.diff"}} : {{part.data.diffTotal}}
                    </span>
                    {{#if part.data.diffTooltips}}
                    <span class="bottomtooltiptext">
                      {{#each part.data.diffTooltips as |tt key|}}
                      <label class="{{tt.class}}"><b>{{tt.name}}: {{tt.value}}</b></label><br>
                      {{/each}}
                    </span>
                    {{/if}}
                </div>
                {{/if}}
                {{!-- TODO : colorize total according to roll.isCritFailure() --}}
                <span class="part-total">{{part.total}}</span>
            </header>
            <ol class="dice-rolls">
            {{#each part.rolls  as |roll key|}}
                <li class="roll {{roll.classes}}">{{{roll.result}}}</li>
            {{/each}}
            </ol>
            {{#if part.data.previousSuccesses}}
            <header class="part-header flexrow">
              <div class="tooltip-infos">
                <span class="tooltip-info">
                  {{localize 'M20E.labels.previousSuccesses'}}
                </span>
              </div>
              <span class="part-total">{{part.data.previousSuccesses}}</span>
            </header>
            <br>
            {{/if}}
            {{#if part.data.successThreshold}}
            <header class="part-header flexrow">
              <div class="tooltip-infos">
                <span class="tooltip-info">
                  {{localize 'M20E.labels.successThreshold'}}
                </span>
              </div>
              <span class="part-total">{{part.data.successThreshold}}</span>
            </header>
            <br>
            {{/if}}
        </div>
    </section>
</div>
