<div class="dice-tooltip">
    <section class="tooltip-part">
        <div class="dice">
            {{#if part.options.isWillpowered}}
            <header class="willpower-success">
                <span >{{localize "M20E.throwresult.isWillpowered"}}</span>
            </header>
            {{/if}}
            <header class="part-header flexrow">
                <div class="tooltip-infos">
                    <span class="tooltip-info">
                        {{localize "M20E.labels.pool"}} : {{part.options.dicePoolBase}}
                    </span>
                </div>
                <div class="tooltip-infos">
                    <span class="tooltip-info">
                      {{localize "M20E.labels.thrsh"}} : {{part.options.thresholdTotal}}
                    </span>
                </div>
                <span class="part-total">{{part.total}}</span>
            </header>
            <ol class="dice-rolls">
            {{#each part.rolls  as |roll key|}}
                <li class="roll {{roll.classes}}">{{{roll.result}}}</li>
            {{/each}}
            </ol>
        </div>
    </section>
</div>
