<form class="{{cssClass}}" autocomplete="off" spellcheck="false" style="display:block;">
{{!-- Flavor --}}
    <div name="throwName" class="dialog-block flavor" {{#if colapsibles.throwName}}style="display:none;" {{/if}}>
      {{{dt.flavor}}}
    </div>
{{!-- list of stats --}}
    <div class="title-line">
      <div class="pre-line"></div>
      <label>{{localize 'M20E.labels.statList'}}</label>
      <div class="post-line"></div>
      <a class="mini-button" data-action="colapse" data-disabled="" data-state="{{colapsibles.statList}}">{{#if colapsibles.statList}}<i class="fas fa-caret-down"></i>{{else}}<i class="fas fa-caret-up"></i>{{/if}}</a>
    </div>
    <div name="statList" class="dialog-block stat-list"  {{#if colapsibles.statList}}style="display:none;" {{/if}}>
        {{#each stats as |stat key|}}
        <div class="trait dice-throw" data-key="{{key}}">
            <a class="mini-button" title="{{localize 'M20E.hints.removeFromThrow'}}" data-action="remove" data-disabled="{{../dt.data.statLock}}"><i class="fas fa-times-circle"></i></a>
            <label class="trait-label tooltip" data-value ="{{stat.value}}" {{#if (eq stat.value 0)}} title="{{localize 'M20E.hints.untrained'}}"{{/if}}>
                {{stat.name}}
                {{#if stat.canUseSpec}}
                <span class="righttooltiptext">{{stat.specName}}</span>
                {{/if}}
            </label>
            <div class="ligne"></div>
            <div class="bullet-display" data-locked="true">
                {{#m20e-forLoop 5}}
                <span class="bullet" data-index="{{this}}" data-state="{{m20e-bulletState stat.value this}}" {{#if ../../bulletLock}} data-clickable="false" {{else}} data-clickable="{{gt stat.data.value this}}" {{/if}}></span>
                {{/m20e-forLoop}}
            </div>
            {{#if stat.canUseSpec}}
                <a class="mini-button spe" title="{{localize 'M20E.hints.useSpecialty'}}" data-action="spe" data-active = {{stat.useSpec}}>{{localize "M20E.labels.spe"}}</a>
            {{else}}
                <div class="mini-button spe decoy"></div>
            {{/if}}
        </div>
        {{/each}}
    </div>
{{!-- Dice Pool --}}
    <div class="title-line">
      <div class="pre-line"></div>
      {{#if colapsibles.dicePool}}
      <label class="tooltip">
        {{localize 'M20E.labels.dicePool'}} : {{dt.data.dicePoolTotal}}
            {{#if data.dpTooltips}}
            <span class="righttooltiptext">
              <label class="underlined-thingy">{{localize 'M20E.throwMod.base'}}: {{dt.data.dicePoolBase}}</label><br>
              {{#each data.dpTooltips as |tt key|}}
              <label class="{{tt.class}}">{{tt.name}}: {{tt.value}}</label><br>
              {{/each}}
            </span>
            {{/if}}
      </label>
      <div class="post-line"></div>
      <a class="mini-button" data-action="colapse" data-disabled="" data-state="{{colapsibles.dicePool}}"><i class="fas fa-caret-down"></i></a>
      {{else}}
      <label title="{{localize 'M20E.hints.dicePool'}}">{{localize 'M20E.labels.dicePool'}}</label>
      <div class="post-line"></div>
      <a class="mini-button" data-action="colapse" data-disabled="" data-state="{{colapsibles.dicePool}}"><i class="fas fa-caret-up"></i></a>
      {{/if}}
    </div>
    <div name="dicePool" class="dialog-block dice-pool"  {{#if colapsibles.dicePool}}style="display:none;" {{/if}}>
        <label>{{dt.data.dicePoolBase}}</label>
        {{#if (lt data.dpModTotal 0)}}
          <label class="icon"><i class="red-thingy fas fa-minus"></i></label>
        {{else}}
          <label class="icon"><i class="fas fa-plus"></i></label>
        {{/if}}
        <div class="number-spinner">
            <div class="tooltip">
            <label class="{{#if (lt data.dpModTotal 0)}} red-thingy {{/if}}">{{m20e-abs data.dpModTotal}}</label>
              {{#if data.dpTooltips}}
                  <span class="righttooltiptext">
                    {{#each data.dpTooltips as |tt key|}}
                    <label class="{{tt.class}}">{{tt.name}}: {{tt.value}}</label><br>
                    {{/each}}
                  </span>
              {{/if}}
            </div>
            <div class="double-button">
                <a class="mini-button" data-action="mod-plus" title="{{localize 'M20E.hints.addDice'}}"><i
                    class="fas fa-chevron-up"></i></a>
                <a class="mini-button" data-action="mod-minus" title="{{localize 'M20E.hints.removeDice'}}"><i
                    class="fas fa-chevron-down"></i></a>
            </div>
        </div>
        <label class="icon"><i class="fas fa-equals"></i></label>
        <label class="total">{{dt.data.dicePoolTotal}}</label>
    </div>
{{!-- Difficulty --}}
    <div class="title-line">
      <div class="pre-line"></div>
      {{#if colapsibles.difficulty}}
      <label class="tooltip">
        {{localize 'M20E.labels.difficulty'}} : {{dt.data.difficultyTotal}}
            {{#if data.diffTooltips}}
            <span class="righttooltiptext">
              <label class="underlined-thingy">{{localize 'M20E.throwMod.base'}}: {{dt.data.difficultyBase}}</label><br>
              {{#each data.diffTooltips as |tt key|}}
              <label class="{{tt.class}}">{{tt.name}}: {{tt.value}}</label><br>
              {{/each}}
            </span>
            {{/if}}
      </label>
      <div class="post-line"></div>
      <a class="mini-button" data-action="colapse" data-disabled="" data-state="{{colapsibles.difficulty}}"><i class="fas fa-caret-down"></i></a>
      {{else}}
      <label title="{{localize 'M20E.hints.difficulty'}}">{{localize 'M20E.labels.difficulty'}}</label>
      <div class="post-line"></div>
      <a class="mini-button" data-action="colapse" data-disabled="" data-state="{{colapsibles.difficulty}}"><i class="fas fa-caret-up"></i></a>
      {{/if}}
    </div>
    <div name="difficulty" class="dialog-block difficulty" {{#if colapsibles.difficulty}}style="display:none;" {{/if}}>
        <div class="radio-group dice">
            {{#each radioOptions as |radio key|}}
            <div>
                <input id="rad{{radio.value}}" type="radio" value="{{radio.value}}" {{radio.checked}}/>
                <label class= "radio-label" for="rad{{radio.value}}">
                  {{radio.value}}
                  {{#if radio.visualCue}}
                  <span title="{{localize (m20e-concat 'M20E.hints.difficultyCue.' radio.visualCue)}}" data-cue="{{radio.visualCue}}"><i class="fas fa-caret-down"></i></span>
                  {{/if}}
                </label>
            </div>
            {{/each}}
        </div>
    </div>
{{!-- Success --}}
    <div class="title-line">
      <div class="pre-line"></div>
      <label>
        {{localize 'M20E.labels.success'}} {{#if data.successMods.malus}} : {{data.successMods.bonus}} / {{m20e-abs data.successMods.malus}} {{else}} {{#if data.successMods.bonus}} : {{data.successMods.bonus}}{{/if}}{{/if}}
      </label>
      <div class="post-line"></div>
      <a class="mini-button" data-action="colapse" data-disabled="" data-state="{{colapsibles.success}}">{{#if colapsibles.success}}<i class="fas fa-caret-down"></i>{{else}}<i class="fas fa-caret-up"></i>{{/if}}</a>
    </div>
    <div name="success" class="dialog-block success" {{#if colapsibles.success}}style="display:none;" {{/if}}>
        <div class= "field">
          <label>{{localize "M20E.throwresult.isWillpowered"}} : </label>
          <a class="mini-button" data-action="check" checked="{{eq dt.data.successMods.willpowerMod 1}}"><i class="fas fa-check"></i></a>
        </div>
        <div class= "field">
            <label>{{localize "M20E.labels.successThreshold"}} : </label>
            <input id="inverted" type="range" min="-10" max="0" step="1" value="{{dt.data.successMods.userMod}}">
        </div>
    </div>
{{!-- Buttons --}}
    <div class="title-line">
      <div class="pre-line"></div>
      <label title="{{localize 'M20E.hints.throwSettings'}}">{{localize 'M20E.labels.throwSettings'}}</label>
      <div class="post-line"></div>
      <a class="mini-button" data-action="colapse" data-disabled="true" data-state="{{colapsibles.throwSettings}}">{{#if colapsibles.throwSettings}}<i class="fas fa-caret-down"></i>{{else}}<i class="fas fa-caret-up"></i>{{/if}}</a>
    </div>
    <div name="throwSettings" class="dialog-block throwSettings" {{#if colapsibles.throwSettings}}style="display:none;" {{/if}}>
        <div class="throw-mode">
            <a class="mini-button" data-action="mode-ones" data-state="{{data.modeOnesState}}" title="{{localize (m20e-concat 'M20E.hints.throwModeOnes.' data.modeOnesState)}}">1</a>
            <a class="mini-button" data-action="mode-tens" data-state="{{data.modeTensState}}" title="{{localize (m20e-concat 'M20E.hints.throwModeTens.' data.modeTensState)}}">10</a>
        </div>
        <a class="mini-button throw-dice" data-action="roll" title="{{localize extras.title}}" data-disabled="{{throwLock}}">
            <span>{{localize "M20E.labels.throw"}}</span> <i class="{{extras.icon}}"></i>
        </a>
        <div class="throw-mode">
            <a class="mini-button" data-action="resetOnRoll" data-active="{{resetOnRoll}}" title="{{localize 'M20E.hints.toggleResetOnRoll'}}" style="font-size:12px;"><i class="fas fa-redo-alt"></i></a>
            <a class="mini-button" data-action="closeOnRoll" data-active="{{closeOnRoll}}" title="{{localize 'M20E.hints.toggleCloseOnRoll'}}" style="font-size:16px;"><i class="fas fa-ellipsis-h"></i></a>
        </div>
    </div>
    {{!--<a class="mini-button auto-close" title="{{localize 'M20E.hints.toggleAutoClose'}}" data-action="auto-close" data-active="{{closeOnRoll}}"><i class="fas fa-ellipsis-h"></i></a>
    --}}
</form>