<form class="{{cssClass}}" autocomplete="off" style="display:block;">
    <div class="dialog-block flavor">
        {{{dt.flavor}}}
    </div>
    {{#if traits.length}}
    <div class="dialog-block">
        {{#each traits as |trait key|}}
        <div class="trait dice-throw" data-key="{{key}}">
            <a class="mini-button" title="{{localize 'M20E.hints.removeFromThrow'}}" data-action="remove" data-disabled="{{../dt.isItemThrow}}"><i class="fas fa-times-circle"></i></a>
            <label class="trait-label tooltip" data-value ="{{trait.value}}" {{#if (eq trait.value 0)}} title="{{localize 'M20E.hints.untrained'}}"{{/if}}>
                {{trait.name}}
                {{#if trait.canUseSpec}}
                <span class="righttooltiptext">{{trait.specName}}</span>
                {{/if}}
            </label>
            <div class="ligne"></div>
            <div class="bullet-display" data-locked="true">
                {{#m20e-forLoop 5}}
                <span class="bullet" data-index="{{this}}" data-state="{{bulletState trait.value this}}" {{#if ../../bulletsClickLock}} data-clickable="false" {{else}} data-clickable="{{gt trait.valueMax this}}" {{/if}}></span>
                {{/m20e-forLoop}}
            </div>
            {{#if trait.canUseSpec}}
                <a class="mini-button spe" title="{{localize 'M20E.hints.useSpecialisation'}}" data-action="spe" data-active = {{trait.useSpec}}>{{localize "M20E.labels.spe"}}</a>
            {{else}}
                <div class="mini-button spe decoy"></div>
            {{/if}}
        </div>
        {{/each}}
    </div>
    {{/if}}
    <div class="dialog-block dice-pool">
        <label style="text-align: center; margin-left:-6px;" title="{{localize 'M20E.hints.dicePool'}}">{{localize "M20E.labels.dicePool"}} :</label>
        <input name="dicePool" type="text" value="{{dt.dicePoolBase}}" data-dtype="Number" disabled/>
        {{#if (ne dt.dicePoolMalus 0)}}
        <input class= "red-thingy" name="dicePoolMalus" type="text" value="{{m20e-sign dt.dicePoolMalus}}" data-dtype="Number" disabled/>
        {{/if}}
        <div style="display: flex; flex-direction:row;">
            <div class="double-button" style="margin:0 5px;">
                <a class="mini-button" title="{{localize 'M20E.hints.addDice'}}" data-action="mod-plus"><i class="fas fa-plus"></i></a>
                <a class="mini-button" title="{{localize 'M20E.hints.removeDice'}}" data-action="mod-minus"><i class="fas fa-minus"></i></a>
            </div>
            <input name="dicePoolBonus" type="text" value="{{m20e-sign dt.dicePoolBonus}}" data-dtype="Number" disabled/>
        </div>
        <i class="fas fa-equals" style ="font-size: 16px;" ></i>
        <input name="dicePoolTotal" type="text" value="{{dt.dicePoolTotal}}" data-dtype="Number" readonly/>
    </div>
    <div class="dialog-block difficulty">
        <label title="{{localize 'M20E.hints.threshold'}}">{{localize "M20E.labels.threshold"}} :</label>
        {{!--TODO : maybe add and display threshold mods  --}}
        <div class="radio-group">
            {{#each radioOptions as |radio key|}}
            <div>
                <input id="rad{{radio.value}}" type="radio" name="threshold" value="{{radio.value}}" {{radio.checked}}/>
                <label class= "radio-label" for="rad{{radio.value}}">
                  {{radio.value}}
                  {{#if radio.visualCue}}
                  <span title="{{localize (m20e-concat 'M20E.hints.thresholdCue.' radio.visualCue)}}" data-cue="{{radio.visualCue}}"><i class="fas fa-caret-down"></i></span>
                  {{/if}}
                </label>
            </div>
            {{/each}}
        </div>
    </div>

    <a class="mini-button throw-settings" title="{{localize (m20e-concat 'M20E.hints.throwSettings.' dt.throwSettings)}}" data-action="settings" data-settings="{{dt.throwSettings}}"><i class="fas fa-dice-d20"></i></a>
    <a class="mini-button throw-dice" data-action="roll" title="{{localize extras.title}}">
        <span>{{localize "M20E.labels.throw"}} <i class="fas fa-dice"></i></span> <i class="{{extras.icon}}"></i>
    </a>
    <a class="mini-button auto-close" title="{{localize 'M20E.hints.toggleAutoClose'}}" data-action="auto-close" data-active="{{closeOnRoll}}"><i class="fas fa-ellipsis-h"></i></a>
</form>