<form class="{{cssClass}}" autocomplete="off" style="display:block;">
  {{!--not used atm, just for demonstration purposes --}}
    <h2 class="module-header" style="display:flex; justify-content:space-between">
        {{localize 'SETTINGS.M20E.rulesHeader'}}
        <a class="mini-button" data-category="rules" data-action="add"><i class="fas fa-plus"></i></a>
    </h2>
    <section>
      <div class="flexrow">
          <label>{{localize "M20E.labels.subType"}} : </label>
          <label>{{localize "M20E.labels.value"}} : </label>
      </div>
      {{#each rules as |rule index|}}
      <div class="flexrow" data-index={{index}}>
          <select name="{{index}}.type">
              {{#select rule.type}}
                  {{#each ../config.abilitySubTypes as |value key|}}
                      <option value="{{key}}">{{localize value}}</option>
                  {{/each}}
              {{/select}}
          </select>
          <input name="{{index}}.value" type="text" value="{{rule.value}}" data-dtype="Number" min="0" max="5"/>
          <a class="mini-button" data-action="remove" title = "{{localize 'M20E.hints.remove'}}"><i class="fas fa-trash"></i></a>
      </div>
      {{/each}}
    </section>
</form>