<form class="{{cssClass}}" autocomplete="off">
    <div class="dialog-block flavor">
        <select name="0">
            {{#select key0}}
                {{#each keys0 as |value key|}}
                    <option value="{{key}}">{{value}}</option>
                {{/each}}
            {{/select}}
        </select>
        {{#if keys1}}
        <select name="1">
            {{#select key1}}
                {{#each keys1 as |value key|}}
                    <option value="{{key}}">{{value}}</option>
                {{/each}}
            {{/select}}
        </select>
        {{/if}}
        {{#if keys2}}
          <select name="2">
              {{#select key2}}
                  {{#each keys2 as |value key|}}
                      <option value="{{key}}">{{value}}</option>
                  {{/each}}
              {{/select}}
          </select>
        {{/if}}
    </div>
    <div class="dialog-block flavor">
        <div class= "field" title="{{localize 'M20E.hints.key'}}">
            <label>{{localize "M20E.labels.key"}} : </label>
            <div class="flexrow">
                {{#if data.keyPrefix}}<label class="disabledInput">{{data.keyPrefix}}.</label>{{/if}}
                <input name="key" type="text" value="{{data.key}}" data-dtype="String"/>
                {{#if data.keySuffix}}<label class="disabledInput">.{{data.keySuffix}}</label>{{/if}}
            </div>
        </div>
    </div>
    <div class="dialog-buttons">
        <button class="dialog-button ok default" data-button="ok">
            <i class="fas fa-check"></i>
            OK
        </button>
    </div>
</form>