<form class="{{cssClass}}" autocomplete="off">
  {{> "systems/mage-fr/templates/item/parts/header-block.hbs" useDisplayName=true itemImg = '' itemType = "ITEM.TypeAbility"}}

  {{> "systems/mage-fr/templates/item/parts/nav-block.hbs"}}

  <section class="sheet-body">
      <section class="tab" data-group="primary" data-tab="detail">
          <div class="grid two-col">
              <div class= "field">
                  <label>{{localize "M20E.labels.subType"}} : </label>
                  <select name="data.subType">
                      {{selectOptions config.abilitySubTypes selected=data.subType localize=true}}
                  </select>
              </div>
              <div class= "field" title="{{localize 'M20E.hints.value0to5'}}">
                  <label>{{localize "M20E.labels.value"}} : </label>
                  <input name="data.value" type="text" value="{{data.value}}" data-dtype="Number" min="0" max="10"/>
              </div>
              <div class= "field" title="{{localize 'M20E.hints.specialisation'}}">
                  <label>{{localize "M20E.labels.specialisation"}} : </label>
                  <input name="data.specialisation" type="text" value="{{data.specialisation}}" data-dtype="String"/>
              </div>
              <div class= "field" title="{{localize 'M20E.hints.extra'}}">
                  <label>{{localize "M20E.labels.extra"}} : </label>
                  <select name="data.extra">
                      {{#select data.extra}}
                          {{#each config.extraDecorations as |value key|}}
                              <option value="{{value}}">{{value}}</option>
                          {{/each}}
                      {{/select}}
                  </select>
              </div>
              {{#if isGM}}
              <div class= "field" title="{{localize 'M20E.hints.systemName'}}">
                  <label>{{localize "M20E.labels.systemName"}} : </label>
                  <input name="name" type="text" value="{{item.data.name}}" data-dtype="String" />
              </div>
              {{/if}}
          </div>
          <div class= "field" title="{{localize 'M20E.hints.displayDescription'}}">
              <label>{{localize "M20E.labels.displayDescription"}} : </label>
<textarea name="data.displayDescription">{{data.displayDescription}}</textarea>
          </div>
      </section>
      {{> "systems/mage-fr/templates/item/parts/description-block.hbs" isDescEditable = isGM}}
  </section>
</form>