<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class= "img-colunm">
          <img src="{{data.icon}}" data-edit="icon" title="{{localize "M20E.hints.imgClick"}}" alt="{{data.label}} - Image"/>
        </div>
        <div class="header-column">
            <div class="header-row">
                <input class="name" name="label" type="text" value="{{data.label}}" data-dtype="String" title="{{localize 'M20E.hints.name'}}"/>
                <span class="item-type">{{{localize 'ITEM.TypeActiveeffectAlt'}}}</span>
            </div>
        </div>
    </header>
    {{> "systems/mage-fr/templates/item/parts/nav-block.hbs" secondTab='effects'}}

    <section class="sheet-body">

        <section class="tab" data-group="primary" data-tab="detail">
            <br> {{!-- todo replace br with css rule on item section tab margintop --}}
            <div class="grid two-col">
                <div class= "field" title="{{localize 'M20E.hints.aeToggleDisabled'}}">
                    <label>{{localize "M20E.labels.aeEnabled"}} : </label>
                    <input class="inline-edit" data-name ="disabled" type="checkbox" {{checked (m20e-not data.disabled)}} data-dtype="Boolean"/>
                </div>
                <div class= "field" title="{{localize 'M20E.hints.origin'}}">
                    <label for="origin">{{localize "M20E.labels.origin"}} : </label>
                    <input name="origin" type="text" value="{{data.origin}}" data-dtype="String"/>
                </div>
            </div>
        </section>

        <section class="tab" data-group="primary" data-tab="effects">
          <br>
            <div class="category grid one-col">
                <div class="trait lexicon">
                    <label>{{localize 'M20E.labels.key'}}</label>
                    <label>{{localize 'M20E.labels.mode'}}</label>
                    <label>{{localize 'M20E.labels.value'}}</label>
                    <div class="mini-button decoy"></div>
                    <div class="mini-button decoy"></div>
                </div>
                {{#each effects as |effect index|}}
                <div class="trait lexicon" data-index="{{index}}" data-active="false">
                    {{#if ../locks.effects}}
                    <label class="trait-label">
                        {{effect.key}}
                    </label>
                    <label class="trait-label">
                        {{effect.modeString}}
                    </label>
                    <label class="trait-label">
                        {{effect.value}}
                    </label>
                    {{else}}
                    <label class="trait-label">
                        {{effect.key}}
                    </label>
                    <select>
                    {{#select effect.mode}}
                        {{#each ../modes as |value key|}}
                          <option value="{{key}}">{{value}}</option>
                        {{/each}}
                    {{/select}}
                    </select>
                    <input class="inline-edit" data-name ="value" type="text" value="{{effect.value}}" data-dtype="Number" min="-5" max="5"/>
                    <div class="edit-bar" data-locked="{{../locks.lexicon}}">
                        <a class="mini-button" data-action="edit" title = "{{localize 'M20E.hints.edit'}}"><i class="fas fa-pencil-alt"></i></a>
                        <a class="mini-button" data-action="remove" title = "{{localize 'M20E.hints.remove'}}"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </section>
    </section>
</form>
