<form class="{{cssClass}}" autocomplete="off" spellcheck="false">
  {{> "systems/mage-fr/templates/item/parts/header-block.hbs" useDisplayName=false itemImg=item.data.img itemType="ITEM.TypeMisc"}}

  {{> "systems/mage-fr/templates/item/parts/nav-block.hbs" secondTab='none'}}

  <section class="sheet-body">
      <section class="tab" data-group="primary" data-tab="detail">
          <div class="grid two-col">
              {{#if isGM}}
              <div class= "field" title="{{localize 'M20E.hints.consumable'}}">
                  <label>{{localize "M20E.labels.consumable"}} : </label>
                  <input name="data.isConsumable" type="checkbox" {{checked data.isConsumable}} data-dtype="Boolean"/>
              </div>
              <div class= "field" title="{{localize 'M20E.hints.equipable'}}">
                  <label>{{localize "M20E.labels.equipable"}} : </label>
                  <input name="data.isEquipable" type="checkbox" {{checked data.isEquipable}} data-dtype="Boolean"/>
              </div>
              {{/if}}
              {{#if data.isConsumable}}
              <div class= "field" title="{{localize 'M20E.hints.quantity'}}">
                  <label>{{localize "M20E.labels.quantity"}} : </label>
                  <input name="data.quantity" type="text" value="{{data.quantity}}" data-dtype="Number" min="0" max="100"/>
              </div>
              {{/if}}
              {{#if data.isEquipable}}
              {{#if item.isOwned}}
              <div class= "field">
                  <label>{{localize "M20E.labels.equipped"}} : </label>
                  <input name="data.equipped" type="checkbox" {{checked data.equipped}} data-dtype="Boolean"/>
              </div>
              {{/if}}
              {{#if showEffectField}}
              <div class= "field" title="{{localize 'M20E.hints.itemEffect'}}">
                  <label>{{localize "M20E.labels.itemEffect"}} : </label><br>
                  {{#if hasEffect}}
                  <a class="mini-button" data-action="edit" title = "{{localize 'M20E.hints.edit'}}"><i class="fas fa-pencil-alt"></i></a>
                  <a class="mini-button" data-action="remove" data-disabled="{{m20e-not isGM}}" title = "{{localize 'M20E.hints.remove'}}"><i class="fas fa-trash"></i></a>
                  {{else}}
                  <a class="mini-button" data-action="add" data-disabled="{{m20e-not isGM}}" title="{{localize 'M20E.hints.add'}} {{localize 'M20E.new.ActiveEffect'}}"><i class="fas fa-plus"></i></a>
                  {{/if}}
              </div>
              {{/if}}
              {{/if}}
          </div>
          <div class= "field" title="{{localize 'M20E.hints.displayDescription'}}">
              <label>{{localize "M20E.labels.displayDescription"}} : </label>
<textarea name="data.displayDescription">{{data.displayDescription}}</textarea>
          </div>
      </section>
  </section>
</form>