<form class="{{cssClass}}" autocomplete="off">
  {{> "systems/mage-fr/templates/item/parts/header-block.hbs" useDisplayName=false itemImg=item.data.img itemType="ITEM.TypeMisc"}}

  {{> "systems/mage-fr/templates/item/parts/nav-block.hbs" secondTab='none'}}

  <section class="sheet-body">
      <section class="tab" data-group="primary" data-tab="detail">
          <div class="grid two-col">
              <div class= "field" title="{{localize 'M20E.hints.consumable'}}">
                  <label>{{localize "M20E.labels.consumable"}} : </label>
                  <input name="data.isConsumable" type="checkbox" {{checked data.isConsumable}} data-dtype="Boolean"/>
              </div>
              <div class= "field" title="{{localize 'M20E.hints.equipable'}}">
                  <label>{{localize "M20E.labels.equipable"}} : </label>
                  <input name="data.isEquipable" type="checkbox" {{checked data.isEquipable}} data-dtype="Boolean"/>
              </div>
              {{#if data.isConsumable}}
              <div class= "field" title="{{localize 'M20E.hints.quantity'}}">
                  <label>{{localize "M20E.labels.quantity"}} : </label>
                  <input name="data.quantity" type="text" value="{{data.quantity}}" data-dtype="Number" min="0" max="100"/>
              </div>
              {{/if}}
          </div>
          <div class= "field" title="{{localize 'M20E.hints.displayDescription'}}">
              <label>{{localize "M20E.labels.displayDescription"}} : </label>
<textarea name="data.displayDescription">{{data.displayDescription}}</textarea>
          </div>
      </section>
  </section>
</form>