<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/mage-fr/templates/item/parts/header-block.hbs" useDisplayName='false' itemImg='' itemType="ITEM.TypeParadigm"}}
    <nav class="sheet-tabs tabs" data-group="primary">
        {{!--todo upgrade nav-block with options to display lock add and name of tabs --}}
        <a data-tab="detail"><label>{{localize "M20E.navtabs.detail"}}</label></a>
        <a data-tab="lexicon">
          <div class="mini-button decoy" data-action="lock" data-hidden="{{locks.lexicon}}"></div>
          <div class="mini-button decoy" data-hidden="{{locks.lexicon}}" data-locked="{{locks.lexicon}}"></div>
          <label>{{localize "M20E.navtabs.lexicon"}}</label>
          <div class="mini-button" data-action="add" data-hidden="{{locks.lexicon}}" data-locked="{{locks.lexicon}}"><i class="fas fa-plus"></i></div>
          <div class="mini-button" data-action="lock" data-category="lexicon" data-hidden="{{locks.lexicon}}">
              {{#if locks.lexicon}}<i class="fas fa-lock"></i>
              {{else}}<i class="fas fa-unlock-alt"></i>{{/if}}
          </div>
        </a>
    </nav>
    <section class="sheet-body">
        <section class="tab" data-group="primary" data-tab="detail">
            <br>
            <div class="grid one-col">
                <div class= "field">
                    <label for="data.cssClass">{{localize "M20E.labels.cssClass"}} : </label>
                    <input name="data.cssClass" type="text" value="{{data.cssClass}}" data-dtype="String"/>
                </div>
                <div class= "field" title="">
                    <label for="data.sheetLogo">{{localize "M20E.labels.sheetLogo"}} : </label>
                    <img class="sheetLogo" name="data.sheetLogo" src="{{data.sheetLogo}}" data-edit="data.sheetLogo" title="{{data.sheetLogo}}"/>
                </div>
            </div>
        </section>
        <section class="tab" data-group="primary" data-tab="lexicon">
          <br>
          <div class="category grid one-col">
            <div class="trait lexicon">
              <label>Clef</label>
              <label>Valeur</label>
              <div class="edit-bar" data-locked="{{locks.lexicon}}">
                <a class="mini-button decoy"></a>
                <a class="mini-button decoy"></a>
              </div>
            </div>
            {{#each lexicon as |entry key|}}
            <div class="trait lexicon" data-key="{{key}}">
              <input class="lexicon-path" type="text" value="{{entry.path}}" data-dtype="String" disabled/>
              <input class="lexicon-value" type="text" value="{{entry.value}}" data-dtype="String" disabled/>
              <div class="edit-bar" data-locked="{{../locks.lexicon}}">
                <a class="mini-button" data-action="edit" title = "{{localize 'M20E.hints.edit'}}"><i class="fas fa-pencil-alt"></i></a>
                <a class="mini-button" data-action="remove" title = "{{localize 'M20E.hints.remove'}}"><i class="fas fa-trash"></i></a>
              </div>
            </div>
            {{/each}}
          </div>
        </section>
    </section>
</form>
