<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/mage-fr/templates/item/parts/header-block.hbs" useDisplayName=false itemImg=item.data.img itemType="ITEM.TypeRote"}}
    {{> "systems/mage-fr/templates/item/parts/nav-block.hbs" secondTab='effects'}}

    <section class="sheet-body">

        <section class="tab" data-group="primary" data-tab="detail">
            <br> {{!-- todo replace br with css rule on item section tab margintop --}}
            <div class="grid two-col">
                <div class= "field">
                    <label>{{localize "M20E.labels.difficultyBase"}} : </label>
                    <input name="options.difficultyBase" type="text" value="{{data.options.difficultyBase}}" data-dtype="Number" min="0" max="9"/>
                </div>
                <div class= "field">
                    <label>{{localize "M20E.labels.difficultyMod"}} : </label>
                    <input name="options.difficultyMods.throwMod" type="text" value="{{data.options.difficultyMods.throwMod}}" data-dtype="Number" min="-3" max="3"/>
                </div>
                <div class= "field">
                    <label>{{localize "M20E.labels.dicePoolMod"}} : </label>
                    <input name="options.dicePoolMods.throwMod" type="text" value="{{data.options.dicePoolMods.throwMod}}" data-dtype="Number" min="-3" max="3"/>
                </div>
                <div class= "field">
                    <label>{{localize "M20E.labels.successMod"}} : </label>
                    <input name="options.successMods.throwMod" type="text" value="{{data.options.successMods.throwMod}}" data-dtype="Number" min="-5" max="5"/>
                </div>
            </div>
          <div class= "field">
              <label>{{localize "M20E.labels.displayDescription"}} : </label>
<textarea name="data.description">{{data.data.description}}</textarea>
          </div>
          {{#if isGM}}
          <div class= "field">
              <label>{{localize "M20E.labels.throwOptions"}} : </label>
<textarea class="inline-edit" data-update-path="options">{{data.throwOptions}}</textarea>
          </div>
          {{/if}}
        </section>

        <section class="tab" data-group="primary" data-tab="effects">
          <br>
            <div class="rote-effect-wrapper">
            <div class="category grid one-col">
                {{#each traits as |trait index|}}
                <div class="trait rote-effect" data-index="{{index}}" data-active="false">
                    {{#if ../locks.effects}}
                    <div class="mini-button decoy"></div>
                    <label class="trait-label">
                        {{localize (m20e-concat "M20E.spheres." trait.key)}}
                    </label>
                    <div class="ligne"></div>
                    <div class="bullet-display" data-locked="true">
                        {{#m20e-forLoop 5}}
                        <span class="bullet" data-index="{{this}}" data-state="{{m20e-bulletState trait.value this}}"></span>
                        {{/m20e-forLoop}}
                    </div>
                    {{else}}
                    <a class="mini-button" title="{{localize 'M20E.hints.removeFromThrow'}}" data-action="remove" data-index="{{index}}"><i class="fas fa-times-circle"></i></a>
                    <select data-index="{{index}}">
                    {{#select trait.key}}
                        {{#each ../availEffects}}
                        <option {{this.disabled}} value="{{this.key}}">{{this.name}}</option>
                        {{/each}}
                    {{/select}}
                    </select>
                    <div class="ligne"></div>
                    <div class="bullet-display" data-locked="true">
                      {{#m20e-forLoop 5}}
                      <span class="bullet" data-index="{{this}}" data-state="{{m20e-bulletState trait.value this}}" data-clickable="{{m20e-clickableBullet ../../availEffects trait.key}}"></span>
                      {{/m20e-forLoop}}
                    </div>
                  {{/if}}
                </div>
                {{/each}}
            </div>
            </div>
        </section>
    </section>
</form>
