<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/mage-fr/templates/item/parts/header-block.hbs" useDisplayName=false itemImg=item.data.img itemType="ITEM.TypeWeapon"}}
    {{> "systems/mage-fr/templates/item/parts/nav-block.hbs" secondTab='throws'}}

    <section class="sheet-body">

        <section class="tab" data-group="primary" data-tab="detail">
            <br> {{!-- todo replace br with css rule on item section tab margintop --}}
          <div class="grid two-col">
              <div class= "field">
                  <label>{{localize "M20E.labels.subType"}} : </label>
                  <select name="data.subType">
                      {{#select data.subType}}
                          {{#each config.weaponSubTypes as |value key|}}
                              <option value="{{key}}">{{localize value}}</option>
                          {{/each}}
                      {{/select}}
                  </select>
              </div>
              <div class= "field">
                  <label>{{localize "M20E.labels.damageType"}} : </label>
                  <select name="data.damageType">
                      {{#select data.damageType}}
                          {{#each config.damageTypes as |value key|}}
                              <option value="{{key}}">{{localize value}}</option>
                          {{/each}}
                      {{/select}}
                  </select>
              </div> {{!-- todo damage may not be a fixed value but rather a trait + value --}}
              <div class= "field" title="{{localize 'M20E.hints.damage'}}">
                  <label>{{localize "M20E.labels.damage"}} : </label>
                  <input name="data.damage" type="text" value="{{data.damage}}" data-dtype="Number" min="0" max="10"/>
              </div>
              <div class= "field" title="">
                  <label>{{localize "M20E.labels.range"}} : </label>
                  <input name="data.range" type="text" value="{{data.range}}" data-dtype="Number" min="0" max="10"/>
              </div>
          </div>
            <div class= "field" title="{{localize 'M20E.hints.displayDescription'}}">
                <label>{{localize "M20E.labels.displayDescription"}} : </label>
<textarea name="data.displayDescription">{{data.displayDescription}}</textarea>
            </div>
        </section>

        <section class="tab" data-group="primary" data-tab="throws">
          <br>
            <div class="category grid one-col">
                {{#each throws as |throw index|}}
                <div class="trait throw" data-index="{{index}}">
                    <label class="trait-label">
                        {{throw.name}}
                    </label>
                    <div class="bullet-display" data-locked="{{../locks.throws}}">
                        {{throw.flavor}}
                    </div>
                    <div class="edit-bar" data-locked="{{../locks.throws}}">
                        <a class="mini-button" data-action="edit" title = "{{localize 'M20E.hints.edit'}}"><i class="fas fa-pencil-alt"></i></a>
                        <a class="mini-button" data-action="remove" title = "{{localize 'M20E.hints.remove'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
    </section>
</form>
