<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/mage-fr/templates/item/parts/header-block.hbs" useDisplayName=false itemImg=item.img itemType="ITEM.TypeWeapon"}}
    {{> "systems/mage-fr/templates/item/parts/nav-block.hbs" secondTab='throws'}}

    <section class="sheet-body">

        <section class="tab" data-group="primary" data-tab="detail">
            <br> {{!-- todo replace br with css rule on item section tab margintop --}}
          <div class="grid two-col">
              <div class= "field">
                  <label for="data.subType">{{localize "M20E.labels.subType"}} : </label>
                  <select name="data.subType">
                      {{#select data.subType}}
                          {{#each config.weaponSubTypes as |value key|}}
                              <option value="{{key}}">{{localize value}}</option>
                          {{/each}}
                      {{/select}}
                  </select>
              </div>
              <div class= "field">
                  <label for="data.damageType">{{localize "M20E.labels.damageType"}} : </label>
                  <select name="data.damageType">
                      {{#select data.damageType}}
                          {{#each config.damageTypes as |value key|}}
                              <option value="{{key}}">{{localize value}}</option>
                          {{/each}}
                      {{/select}}
                  </select>
              </div> {{!-- todo damage may not be a fixed value but rather a trait + value --}}
              <div class= "field" title="{{localize 'M20E.hints.damage'}}">
                  <label for="data.damage">{{localize "M20E.labels.damage"}} : </label>
                  <input name="data.damage" type="text" value="{{data.damage}}" data-dtype="Number" min="0" max="10"/>
              </div>
              <div class= "field" title="">
                  <label for="data.range">{{localize "M20E.labels.range"}} : </label>
                  <input name="data.range" type="text" value="{{data.range}}" data-dtype="Number" min="0" max="10"/>
              </div>
          </div>
            <div class= "field" title="{{localize 'M20E.hints.displayDescription'}}">
                <label for="data.displayDescription">{{localize "M20E.labels.displayDescription"}} : </label>
<textarea name="data.displayDescription">{{data.displayDescription}}</textarea>
            </div>
        </section>

        <section class="tab" data-group="primary" data-tab="throws">
          <br>
            <div class="rote-effect-wrapper">
            <div class="category grid one-col">
                {{#each throws as |throw index|}}

                {{/each}}
            </div>
            </div>
        </section>

    </section>
</form>
